<div class="infoAdvertising">
  <div class="city">
        <span>
          Размещение рекламы:<br>
          +7 945 249-48-91<br>
          +7 966 009-30-65<br>
          <a href="mailto:media@hpmdnetwork.ru">media@hpmdnetwork.ru</a>
        </span>
  </div>
  <div class="city">
        <span>
          По вопросам подключения сайтов к сети<br>
          HPMD Network или использования<br>
          SSP HPMD Ads:<br>
          <a href="mailto:media@hpmdnetwork.ru">media@hpmdnetwork.ru</a>
        </span>
  </div>
</div>
