<div *ngIf="memoryActionGet !== 3">
  <agm-map
    [latitude]="latGet"
    [longitude]="lngGet"
    [zoom]="13">

    <agm-circle *ngFor="let m of [1, 2, 3]; let i = index"
      [latitude]="latGet"
      [longitude]="lngGet"
      [radius]="10000"
      [fillColor]="'#000'"
    ></agm-circle>

    <agm-marker
      [latitude]="latGet"
      [longitude]="lngGet"
      [iconUrl]="icon[memoryActionGet + 2]">
      <agm-info-window>
        <strong *ngIf="memoryActionGet === 1">
          Москва, ул.Ленинская Слобода, 19
        </strong>
        <strong *ngIf="memoryActionGet === 2">
          Санкт-Петебург, наб.Обводного канала 199
        </strong>
      </agm-info-window>
    </agm-marker>
  </agm-map>
</div>

<div *ngIf="memoryActionGet === 3">
  <agm-map
    [latitude]="59.910123"
    [longitude]="30.2854809"
    [zoom]="11">

    <agm-circle *ngFor="let m of [1, 2, 3]; let i = index"
      [latitude]="59.910123"
      [longitude]="30.2854809"
      [radius]="100000"
      [fillColor]="'#000'"
    ></agm-circle>

    <agm-marker
      *ngFor="let m of markers; let i = index"
      [latitude]="m.lat"
      [longitude]="m.lng"
      [iconUrl]="icon[memoryActionGet + 2]">

      <agm-info-window [isOpen]="getActiveOpen(i)">
        <strong>
          {{m.name}}
        </strong>
      </agm-info-window>

    </agm-marker>
  </agm-map>
</div>
