<app-map [latGet]="lat" [lngGet]="lng" [memoryActionGet]="memoryAction"></app-map>

<div class="rightPanel">

  <div class="logo">
    <img src="./../../assets/icons/group.svg">
  </div>

  <div class="rightPanelMain" *ngIf="memoryAction !== 3">

    <app-menu-right-panel [typeMenu]="'mainMenu'"></app-menu-right-panel>

    <div class="positionBlock">

      <app-city
        [iconLocationCity]="'../assets/icons/metroMapIcon.svg'"
        [contentCity]="getContentCity[0].value"
        (click)="activeInfo(3)">
      </app-city>

      <app-city
        [iconLocationCity]="'../assets/icons/star.svg'"
        [contentCity]="getContentCity[1].value"
        [colorTextCity]="action"
        (click)="activeInfo(1)">
      </app-city>

      <app-city
        [iconLocationCity]="'../assets/icons/page.svg'"
        [contentCity]="getContentCity[2].value"
        [colorTextCity]="!action"
        (click)="activeInfo(2)">
      </app-city>

      <app-info-advertising></app-info-advertising>

      <app-icons-social-networks></app-icons-social-networks>
    </div>
  </div>

  <div *ngIf="memoryAction === 3">
    <app-menu-right-panel [typeMenu]="'metroMenu'" (typeMenuGet)="typeMenuGet($event)"></app-menu-right-panel>
    <div class="positionBlockMetro">
      <div class="getStationsName" *ngFor="let station of getStationsName; let i = index">
        <div class="iconMetroMenu">
          <img src='../../assets/icons/metroColor.svg'>
        </div>
        {{station}}
        <div class="getStations">{{getStations[i]}}</div>
      </div>
    </div>
  </div>
</div>
