<agm-map
  [latitude]="lat"
  [longitude]="lng"
  [zoom]="zoom"
  [disableDefaultUI]="false"
  [zoomControl]="false">

  <agm-marker
    *ngFor="let m of markers; let i = index"
    [latitude]="m.lat"
    [longitude]="m.lng"
    [iconUrl]="icon">
  </agm-marker>
</agm-map>

<div class="rightPanel">
  <div class="logo"></div>
  <div class="menuRightPanel">
    <ul class="ulMenu">
      <li><a href="#">КЕЙСЫ</a></li>
      <li><a href="#">ФОРМАТЫ</a></li>
      <li><a class="active" href="#">ИЗДАТЕЛЯМ</a></li>
      <li><a href="#">ПЛАТФОРМА</a></li>
    </ul>
  </div>
</div>
