<agm-map
  [latitude]="lat"
  [longitude]="lng"
  [zoom]="zoom"
  [disableDefaultUI]="false"
  [zoomControl]="false">

  <agm-marker
    [latitude]="lat"
    [longitude]="lng"
    [iconUrl]="icon[memoryAction + 2]">
    <agm-info-window>
      <strong *ngIf="memoryAction === 1">
        Москва, ул.Ленинская Слобода, 19
      </strong>
      <strong *ngIf="memoryAction === 2">
        Санкт-Петебург, наб.Обводного канала 199
      </strong>
    </agm-info-window>
  </agm-marker>
</agm-map>

<div class="rightPanel">

  <div class="logo"></div>

  <div class="menuRightPanel">
    <ul class="ulMenu">
      <li><a href="#">КЕЙСЫ</a></li>
      <li><a href="#">ФОРМАТЫ</a></li>
      <li><a class="active" href="#">ИЗДАТЕЛЯМ</a></li>
      <li><a href="#">ПЛАТФОРМА</a></li>
    </ul>
  </div>

  <div class="positionBlock">
    <div class="city" [ngStyle]="{'color':action ? '#000' : null }" (click)="activeInfo(1)">
      <span>
        Москва<br>
        +7(495) 269 84 10<br>
        ул.Ленинская Слобода, 19<br>
        Бизнес-центр Омега плаза
      </span>

      <div class="iconCity">
        <img src="../assets/icons/star.svg">
      </div>

      <div *ngIf="memoryAction === 1" class="tringle"></div>
    </div>

    <div class="city" [ngStyle]="{'color':!action ? '#000' : null }" (click)="activeInfo(2)">
      <span>
        Санкт-Петебург<br>
        +7(812) 240 43 35<br>
        196158, наб.Обводного канала 199,<br>
        Обводный двор, офис 3 А
      </span>

      <div class="iconCity">
        <img src="../assets/icons/page.svg">
      </div>

      <div *ngIf="memoryAction === 2" class="tringle"></div>
    </div>

    <div class="infoAdvertising infoCity">
      <div class="city">
      <span>
        Размещение рекламы:<br>
        +7 945 249-48-91<br>
        +7 966 009-30-65<br>
        <a href="mailto:media@hpmdnetwork.ru">media@hpmdnetwork.ru</a>
      </span>
      </div>
      <div class="city">
      <span>
        По вопросам подключения сайтов к сети<br>
        HPMD Network или использования<br>
        SSP HPMD Ads:<br>
        <a href="mailto:media@hpmdnetwork.ru">media@hpmdnetwork.ru</a>
      </span>
      </div>
    </div>

    <div class="iconsSocialNetworks">
      <div class="iconSize"><img src="../assets/icons/twitter.svg"></div>
      <div class="iconSize"><img src="../assets/icons/facebook.svg"></div>
      <div class="iconSize"><img src="../assets/icons/google.svg"></div>
      <div class="iconSize"><img src="../assets/icons/vimeo.svg"></div>
    </div>
  </div>
</div>
