.menuRightPanel {
  font-family: MullerLight;
  margin-top: 0;

  .ulMenu {
    padding:0;
    line-height:24px;
    margin: 0 0 20px 49px;

    li {
      list-style-type: none;
      font-size: 11px;

      a {
        text-decoration: none;
        color: #000;
      }
      :hover {
        font-family: MullerMedium;
      }
    }
  }

  .ulMetroMenu {
    margin-top: 60px;
  }
}
@media screen and (min-width:320px) and (max-width:812px) {
  .menuRightPanel {
    margin-top: 20px;

    .ulMenu {
      margin: 0 0 0 10px;
      line-height: 16px;

      li {
        font-size: 7px;
      }
    }
  }
}
