@font-face{
  font-family: MullerLight;
  src: url(./assets/fonts/MullerLight.otf);
}

@font-face{
  font-family: MullerMedium;
  src: url(./assets/fonts/MullerMedium.otf);
}

html, body {
  margin:0;
  padding:0;
  width:100%;
  height:100%;
}
